<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title><%= subject %></title>
  </head>
  <body>
    <div class="container mt-2">
      <header>
        <h2>Welcome</h2>
        <p>Here is the homepage for <%= name %></p>
      </header>
      <section>
        <h2>Here are the verbs</h2>
        <ul style="list-style: none;">
        <% for(var i=0; i < rows.length; i++) { %>
             <li><%= rows[i].tadoushi %> - <%= rows[i].jidoushi %></li>
        <% } %>
        </ul>
      </section>
    </div>
  </body>
</html>
